{
  email hill.l.ethan6066@gmail.com
}

velvacloud.com, www.velvacloud.com {
  encode gzip
  @api path /api* /api/*

  handle @api {
    reverse_proxy backend:4000
  }

  handle {
    reverse_proxy frontend:3000
  }
}